@import 'variables';
// *****************

//  MAIN CONTENT STYLES

// *****************

.content{
    width:100%;
    height:auto;
    margin-top:2rem;
    .content__container{
        width:$container_xl;
        margin:0 auto;
        height:100%;
        display:flex;

        .content__image{
            width:40%;
            display:flex;
            justify-content: center;
            align-items:center;
        }
        .hbspt-form{
            width:60%;
            height:100%;
            display:flex;
            align-items: center;

            form{
                height:28.75rem;
                width:26.875rem;
                border:2px solid $link_hover_color;
                margin:0 auto;
                display:flex;
                flex-direction:column;
                font-family:'Open Sans',sans-serif;
                position:relative;
                .form-columns-2{
                    width:90%;
                    margin:2rem auto 0;
                    .hs-firstname{
                        label{
                            display: inline-block;
                            margin: 0 0 10px 40px;
                        }
                        .hs-input{
                            width:10rem;
                            border:1px solid #ccc;
                            padding: 5px;
                        }
                    }
                    .hs-lastname{
                        label{
                            display: inline-block;
                            margin: 0 0 10px 40px;
                        }
                        .hs-input{
                            width:10rem;
                            border:1px solid #ccc;
                            padding: 5px;
                        }
                    }

                }
                .form-columns-1{
                    width:90%;
                    margin:2rem auto 0;
                    .hs-email{
                       > label{
                            display: inline-block;
                            margin: 0 0 10px 160px;
                        }
                        .hs-input{
                            border:1px solid #ccc;
                            padding: 5px;
                        }
                        .hs-error-msgs{
                            list-style: none;
                            padding:0;
                            li label{
                                color:red;
                            }
                        }
                    }
                }
                .form-columns-1{
                    width:90%;
                    .hs-form-field{
                        .input{
                            .inputs-list{
                                list-style:none;
                                padding:0;
                                span{
                                    padding-left:10px;
                                    font-style: italic;
                                }
                            }
                        }
                    }
                }
                .hs_error_rollup{
                    width:90%;
                    margin: 0 auto;
                    .hs-error-msgs{
                        list-style: none;
                        padding:0;
                        li label{
                            color:red
                        }
                    }
                }
                .hs_submit{
                    width:90%;
                    margin:0 auto;
                    .actions{
                        input{
                            width:90%;
                            height:2rem;
                            color:#fff;
                            background:#f00062;
                            border:0;
                            outline:0;
                            height:2rem;
                            text-transform: uppercase;
                            position:absolute;
                            bottom: 30px;
                            left: 20px;
                            cursor:pointer;
                            &:hover{
                                background: darken( #f00062, 10% );
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1199px){
    .content{
        .content__container{
            width: $container_lg;

        }
    }
}
@media screen and (max-width:992px){
    .content{
        .content__container{
            width: $container_md;
        }
    }
    .content .content__container .hbspt-form form {
        width:24.875rem;
    }
}
@media screen and (max-width:768px){
    .content{
        .content__container{
            width: $container_sm;
            .hbspt-form{
                form{
                    .form-columns-2{
                        .hs-firstname{
                            @include columnBlock;
                            label{
                                margin: 0 0 10px 100px;
                                font-size:$fontSizeMd;
                            }
                            .input{
                                width:100%;
                                .hs-input{
                                    width:100%;
                                }
                            }
                        }
                        .hs-lastname{
                            @include columnBlock;
                            label{
                                margin: 0 0 10px 100px;
                                font-size:$fontSizeMd;
                            }
                            .input{
                                width:100%;
                                .hs-input{
                                    width:100%;
                                }
                            }
                        }

                    }
                    .form-columns-1{
                        margin:0 auto;
                        .hs-email{
                         @include formColumnSize;
                           > label{
                                margin: 0 0 10px 120px;
                                font-size:$fontSizeMd;
                            }
                            .input{
                                width:100%;
                                .hs-input{
                                    width:100%;
                                }
                            }
                            .hs-error-msgs{
                                margin-bottom:0;
                                li label{
                                    font-size:$fontSizeSm;
                                }
                            }
                        }
                    }
                    .form-columns-1{
                        .hs-form-field{
                            @include formColumnSize;
                            .input{
                                .inputs-list{
                                    span{
                                       font-size:$fontSizeSm;
                                    }
                                }
                            }
                        }
                    }
                    .hs_error_rollup{
                        .hs-error-msgs{
                            @include formColumnSize;
                            li label{
                                font-size:$fontSizeSm;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:620px){
    .content{
        .content__container{
            width: $container_xs;
            display:block;
            .content__image{
                margin:0 auto 30px;

            }
            .hbspt-form{
                margin:0 auto;
                width:80%;
            }
        }
    }

}

@media screen and (max-width:499px){
    .content{
        .content__container{
            width: $container_xxs;
            .hbspt-form{
                width:100%;
            }
        }
    }
    .content .content__container .hbspt-form form .form-columns-2 .hs-firstname label,
    .content .content__container .hbspt-form form .form-columns-2 .hs-lastname label{
        margin: 0 0 10px 80px;
    }
    .content .content__container .hbspt-form form .form-columns-1 .hs-email > label{
        margin: 0 0 10px 95px;
    }

}