@import 'variables';

// *****************

//  FOOTER STYLES

// *****************

.footer{
    width:100%;
    height:5.625rem;
    position:fixed;
    bottom:0;
    background-image: url('./../assets/bg-triangles-dark.png'),url('./../assets/bg-footer.png');
    background-position: top 10px left -30px , center;
    background-repeat: no-repeat,no-repeat;
    p{
        color:#fff;
        width:$container_lg;
        margin:0 auto;
        font-family:'Open Sans',sans-serif;
        font-size:.75rem;
        margin-top:3.375rem;
        position :relative;
        padding-top:10px;
        &:before{
            content:'';
            position:absolute;
            width:100%;
            height:1px;
            top:0;
            background:#ecececb0;
            opacity: .5;
        }
    }
}