@import 'variables';

// *****************

//  HEADER STYLES

// *****************

.header {
    width: 100%;
    height: 4.375rem;
    background: #fff;
    position:fixed;
    z-index:2;
    top:0;

    &__wrapper {
        width: $container_xl;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:0 10px;

        .header__img {
            width: 7.5rem;
            height: 3.125rem;
        }

        .header__navigation {
            width: 85%;
            justify-content: space-around;
            margin-left: 7.5rem;
            height: 100%;

            &-list {
                display: flex;
                list-style: none;
                justify-content: space-between;
                margin: 0;
                height:100%;
                .header__navigation-item {
                    &:hover {
                        background: $link_item_hover_color;
                    }

                    a {
                        @include linkItem;
                    }
                }

                .header__navigation-item--dropdown {
                    position:relative;

                    &:hover {
                        background: $link_item_hover_color;
                    }

                    > a {
                        @include linkItem;
                        &:after{
                            content:'';
                            position:absolute;
                            top:32px;
                            right:5px;
                            width:7px;
                            height:7px;
                            background:$link_color;
                            clip-path: polygon(50% 70%, 0 0, 100% 0);
                        }

                        &:hover {
                            color: $link_hover_color;
                            &:after{
                                content:'';
                                position:absolute;
                                top:32px;
                                right:5px;
                                width:7px;
                                height:7px;
                                background:$link_hover_color;
                                clip-path: polygon(50% 70%, 0 0, 100% 0);
                            }
                        }
                    }
                    .header__dropdown--agenda{
                        list-style: none;
                        padding:0;
                        flex-direction: column;
                        height:7.8125rem;
                        justify-content: center;
                        background:$link_item_hover_color;
                        position:absolute;
                        width:10rem;
                        .header__dropdown-item{
                            padding:0;
                            height:1.875rem;
                            margin-bottom:5px;
                            a{
                                @include linkItem;
                                height:100%;
                                line-height:1.875rem;
                                padding:0;
                                text-align: left;
                                padding-left:15px;
                                &:hover{
                                    color: $link_hover_color;
                                }

                            }
                        }
                    }
                    .dropdown--not-visible{
                        display:none;
                    }
                    .dropdown--is-visible{
                        display:flex;
                    }
                }
                .header__navigation-item--ticket {
                    display: flex;
                    align-items: center;

                   > a {
                        @extend %link;
                        width: 7.1875rem;
                        height: 1.875rem;
                        line-height: 1.875rem;
                        background: $link_hover_color;
                        color: #fff;
                        font-weight: 700;
                        font-size: .875rem;
                        padding:0 10px;
                        cursor:pointer;
                        &:hover {
                            background: darken($link_hover_color, 10%)
                        }
                    }
                }

                .header__navigation-item--language-toggler {
                    display: flex;
                    align-items: center;
                    margin-left: 20px;

                    span {
                        @include linkItem;
                        border: 3px solid $link_item_hover_color;
                        display: block;
                        width: 1.875rem;
                        height: 1.875rem;
                        padding: 0;
                        line-height: 1.875rem;
                        cursor: pointer;

                        &:hover {
                            color: $link_hover_color;
                            background: $link_item_hover_color;
                        }
                    }
                }
            }
        }
        .header__navigation--mobile{
            display:flex;
            position: absolute;
            top:4.375rem;
            background: #fff;
            width: 100%;
            left: 0;
            transform: translateY(-30%);
            opacity:0;
            z-index:-1;
            transition: all 0.3s ease-out;
            .header__navigation-list--mobile{
                display:flex;
                flex-direction:column;
                .header__navigation-item--ticket--mobile{
                    display: flex;
                    align-items: center;
                   > a {
                        @include linkItemMobile;
                        width: 7.1875rem;
                        height: 1.875rem;
                        line-height: 1.875rem;
                        background: $link_hover_color;
                        color: #fff;
                        font-weight: 700;
                        font-size:1.2rem;
                        padding:0 10px;
                        &:hover {
                            background: darken($link_hover_color, 10%)
                        }
                    }
                }
            }
        }
        .header__navigation--mobile-open{
            transform: translateY(0);
            opacity:1;
            transition: all 0.3s ease-out;
        }
        .hamburger__icon{
            width: 40px;
            height: 30px;
            flex-flow: column;
            justify-content: space-around;
            align-items: center;
            display:none;
            position: absolute;
            right: 30px;
            cursor:pointer;
            span{
                width: 90%;
                height: 3px;
                display:block;
                background:$hamburger_color;
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;

            }
            &--active{
                transform: rotate(90deg);
                span:nth-child(2) {
                    transition: none;
                    opacity: 0;
                    background:$link_hover_color;
                }
                span:nth-child(1),
                span:nth-child(3) {
                width: 25px;
                transform-origin: right;
                background:$link_hover_color;
                }
                span:nth-child(1) {
                transform: translateY(11px) rotate(45deg);
                }
                span:nth-child(3) {
                transform: translateY(-11px) rotate(-45deg);
                }
            }
        }
    }
}

// Hidden botton menu
.why-attend{
    width:100%;
    background: $link_item_hover_color;
    &__container{
        width:$container_lg;
        margin:0 auto;
        height:9.375rem;
        display:flex;
        padding:0 10px;
        .why-attend__business,
        .why-attend__startups,
        .why-attend__investors,
        .why-attend__last{
            @extend %bottomMenuItem;
            &>li:first-child{
                color:$link_hover_color;
                margin:1rem 0;
                text-transform:uppercase;
                font-family:'Open Sans',sans-serif;
                font-size:1.25rem;
            }
            &>li a{
                @extend %link;
                color:$link_color;
                font-weight:800;
                font-size:1rem;
                line-height:1.6rem;
                position:relative;
                &:after{
                    content:'';
                    position:absolute;
                    background: url('../assets/arrow-right1.png') no-repeat;
                    height:10px;
                    width:6px;
                    top:7px;
                    right:-15px;
                }
                &:hover{
                    color:$link_hover_color;
                }
            }
        }
    }
}
// Heading bar
.heading-bar{
    width:100%;
    height:9.375rem;
    margin-top:4.375rem;
    background:url('./../assets/bg-header-dark.png');
    display: flex;
    justify-content: center;
    align-items: center;
    &__title{
        color:#fff;
        font-family:'Open Sans',sans-serif;
        font-size:2rem;
        text-transform:uppercase;
        padding-bottom:10px;
        margin:0;
        border-bottom:3px solid#fff;
    }
}

@media screen and (max-width:768px){
    .heading-bar{
        height:7.5rem;
        &__title{
            font-size:1.5rem;
        }
    }
}
@media screen and (max-width:414px){
    .heading-bar{
        height:6rem;
        &__title{
            font-size:1.2rem;
        }
    }
}
@media screen and (max-width:1199px){
    .header{
        .header__wrapper{
            width: $container_lg;
            .header__navigation{
                display:none;
            }
            .header__navigation--mobile{
                // display:flex;
                .header__navigation-list--mobile{
                    width:$container_lg;
                    padding:0;
                    margin:0 auto;
                    list-style: none;
                    align-items:center;
                    padding: 50px 0 50px;

                    .header__navigation-item--mobile,
                    .header__navigation-item--dropdown-mobile{
                        a{
                            @include linkItemMobile;

                            &:hover {
                                color: $link_hover_color
                            }
                        }
                    }
                    .header__navigation-item--dropdown-mobile{
                        .header__dropdown--why-attend,
                        .header__dropdown--agenda{
                            list-style: none;
                            padding:0;
                        }
                        .dropdown--not-visible{
                            display:none;
                        }
                        .dropdown--is-visible{
                            display:block;
                            li a{
                                font-size:1rem;
                            }

                        }
                    }
                }
            }
            .hamburger__icon{
                display:flex;
            }
        }
    }
}

@media screen and (max-width:992px){
    .header{
        .header__wrapper{
            width: $container_md;
        }
    }
}
@media screen and (max-width:768px){
    .header{
        .header__wrapper{
            width: $container_sm;
        }
    }
}
@media screen and (max-width:620px){
    .header{
        .header__wrapper{
            width: $container_xs;
        }
    }
}
@media screen and (max-width:499px){
    .header{
        .header__img{
            width:4.5rem;
            height:2rem;
        }
        .header__wrapper{
            width:330px;
        }
    }
}